.sheet {
  @apply flex flex-col w-[100vw];
}

.sheet__navigation {
  @apply grid gap-2 text-lg font-medium;
}

.sheet__logo {
  @apply flex items-center gap-2 text-lg font-semibold;
}

.sheet__logo > img {
  @apply w-8;
}

.sheet__link {
  @apply flex items-center gap-3 rounded-lg px-4 py-3 transition-all;
}

.sheet__link-active {
  @apply bg-white text-primary transition-all hover:text-primary;
}

.version {
  @apply text-xs text-gray-400;
}
